

.button{
    padding: 10px 20px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    background-color: red;
    text-transform: uppercase;
    text-decoration: none;
}
